<h1>Pick patient</h1> 

<% @patients.each do |p| %>
<p>
    <%= p.name %>
    <%= p.pesel %>
    <%= link_to "Add patient", irenas_path(
                                doctor_id: @doctor.id,
                                patient_id: p.id,
                                date: params[:date]),
                                method: :post %>
    
    </p>
<% end %>
